.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  i {
    display: block;
    &[chessType="circle"] {
      background: url("../../../assets/circle-regular.svg") no-repeat center;
    }
    &[chessType="close"] {
      background: url("../../../assets/times-solid.svg") no-repeat center;
    }
    &[chessSize="small"] {
      width: 60px;
      height: 60px;
    }
    &[chessSize="mid"] {
      width: 80px;
      height: 80px;
    }
    &[chessSize="big"] {
      width: 100px;
      height: 100px;
    }
  }
}
