.container {
  .player-name {
    font-size: 22px;
    font-weight: bold;
  }
  .chess-area {
    display: flex;

    .chess-group {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: 1px solid black;
      align-items: center;
      i {
        display: block;
        &[chessType="circle"] {
          background: url("../../../assets/circle-regular.svg") no-repeat center;
        }
        &[chessType="close"] {
          background: url("../../../assets/times-solid.svg") no-repeat center;
        }
        &[chessSize="small"] {
          width: 30px;
          height: 30px;
        }
        &[chessSize="mid"] {
          width: 40px;
          height: 40px;
        }
        &[chessSize="big"] {
          width: 50px;
          height: 50px;
        }
      }
      .count {
        text-align: center;

      }
    }

  }
}
